<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel fade">
  <!-- Indicators -->
  <ol  class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">

    <div class="title-box">
        <h1 class="alc">Our Wineries</h1>
        <h1 class="sub-h1 alc">Yering Station, Mount Langi Ghiran, Xanadu.</h1>
    </div>
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://bbxx-client-wp-mount-langi-prod.s3.amazonaws.com/media/2015/08/vineyards-header3.jpg');"></div>

      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('http://bbxx-client-wp-yeringstation-prod.s3.amazonaws.com/media/2015/02/background-winemakers.jpg');"></div>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://bbxx-client-wp-xanadu-prod.s3.amazonaws.com/media/2015/06/wine-club-xanadu.jpg');"></div>
      <div class="carousel-caption">

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>
