<div id="mount-langi-ghiran" class="row">
    <div class="col-md-6 col-md-push-6 post-image">
        <div class="crop square">
            <img src="assets/logo/mlg-vineyard.jpg" />
        </div>

    </div>
    <div class="col-md-6 col-md-pull-6 alc post-description">
        <div class="crop logo logo-mlg">
        <img class="" src="assets/logo/logo-mlg.svg"/>
        </div>
        <h3 class="alil">Mount Langi Ghiran, Grampians.</h3>

        <p class="alil description">
            Originally established in the 1870's, Mount Langi Ghiran's reputation is built on vision, quality and passion. Nestled in the Grampians at the southern end of the Great Dividing Range in Victoria, 'Langi' is one of Australia's most distinguished wine producers.
        </p>
        <span class="alir" style="    display: block;">
        <a class="cta" href="http://www.xanaduwines.com/">Visit the website</a>
        </span>

        <ul class="social pure-u-1-1">
            <li class="icon"><a href="//www.facebook.com/mtlangighiran" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="icon"><a href="//twitter.com/MtLangiGhiran" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="icon"><a href="//www.pinterest.com/mtlangighiran/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
            <li class="icon"><a href="//instagram.com/mtlangighiran/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
        </div>
</div>