<div id="xanadu" class="row">
    <div class="col-md-6 post-image">
        <div class="crop square">
            <a class="img-link" target="_blank" href="http://www.xanaduwines.com/">
            <img src="assets/logo/xanadu.jpg" />
                </a>
        </div>

    </div>
    <div class="col-md-6 alc post-description">
        <div class="crop logo logo-yering">
            <a class="img-link" target="_blank" href="http://www.xanaduwines.com/">
            <img src="http://www.xanaduwines.com/wp-content/themes/xanadu/assets/svg/logo-xanadu-black.svg">
            </a>
        </div>
        <h3 class="alil">Xanady, Margaret River.</h3>

        <p class="alil description">
            Situated in the exclusive circle encompassing some of Margaret River's most outstanding wineries, Xanadu is a true pioneer of the region with a long history of producing wines with distinct character.
        </p>
        <span class="alir" style="    display: block;">
        <a class="cta" target="_blank" href="http://www.xanaduwines.com/">Visit the website</a>
        </span>

        <ul class="social pure-u-1-1">
            <li class="icon"><a href="https://www.facebook.com/xanaduwines" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="icon"><a href="https://twitter.com/xanaduwine" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="icon"><a href="https://www.youtube.com/user/XanaduWines" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li class="icon"><a href="https://instagram.com/xanaduwines/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
