<div class="row">
    <div class="col-md-6">
        <div class="crop square">
            <img src="http://bbxx-client-wp-yeringstation-prod.s3.amazonaws.com/media/2015/02/breezeway-l.jpg" />
        </div>

    </div>
    <div class="col-md-6 alc">
        <div class="crop logo logo-yering">
        <img class="" src="assets/logo/test.jpg"/>
        </div>
        <h3 class="alil">Yering Station, Yarra Valley.</h3>

        <p class="alil">
            Victoria's first vineyard, Yering Station, was originally planted in 1838. This historical
            wine estate was purchased by the Rathbone family in 1996, marking the begining of a new era, with the c

        </p>
        <span class="fui-facebook"></span>
    </div>
</div>