<div id="yering" class="row">
    <div class="col-md-6 post-image">
        <div class="crop square">
            <img src="http://bbxx-client-wp-yeringstation-prod.s3.amazonaws.com/media/2015/02/breezeway-l.jpg" />
        </div>

    </div>
    <div class="col-md-6 alc post-description">
        <div class="crop logo logo-yering">
        <img class="" src="assets/logo/test.jpg"/>
        </div>
        <h3 class="alil">Yering Station, Yarra Valley.</h3>

        <p class="alil description">
            Victoria's first vineyard, Yering Station, was originally planted in 1838. This historical wine estate was purchased by the Rathbone family in 1996, marking the beginning of a new era, with the construction of a state-of-the-art winery and award-winning wine tourism destination.
        </p>
        <span class="alir" style="    display: block;">
        <a class="cta" href="http://yering.com">Visit the website</a>
        </span>

        <ul class="social pure-u-1-1 pure-u-sm-1-5">
            <li class="icon"><a href="https://www.facebook.com/YeringStation"><i class="fa fa-facebook"></i></a></li>
            <li class="icon"><a href="https://twitter.com/yeringstn"><i class="fa fa-twitter"></i></a></li>
            <li class="icon"><a href="https://www.youtube.com/user/YeringStation"><i class="fa fa-youtube"></i></a></li>
            <li class="icon"><a href="https://instagram.com/yeringstation/"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>