

.alc{
  text-align: center;
}
.alil{
  text-align: left;
}
.alir{
  text-align: right;
}

.navbar-nav > li > a {
  @include Lato(400);
  text-transform: uppercase;
}


h1 {
  @include Lato(900);
  color: #ffffff;
  text-transform: uppercase;

  font-size: 4.5em;
  margin-bottom: 15px;

  @media (max-width: 667px) {
    font-size: 3.1em;
  }
}

.sub-h1 {
  @include Gara('normal');
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 0px;

  @media (max-width: 667px) {
    font-size: 1.4em;
  }
}

h2 {
  @include Gara('normal');
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sub-h2 {
  color: #333;
  font-size: .9em;
  line-height: 1.4;
}
h3 {
  @include Gara('normal');

  font-weight: 300;
  color: #333;
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 0px;
}

p {
  @include Gara('normal');

  font-weight: 300;
  color: #333;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 0px;
}

p.description {
  margin-bottom:50px;
}